.el-tree{
    color: rgb(58, 150, 158);
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}
.sf{
    font-size: 14px;
    width: 232px;
    padding: 10px;
    border-radius: 20px;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    margin-bottom: 20px;
    background: rgba(66, 73, 129, 0.623);
    ul{
        list-style: none;
        margin: 0;
        padding-left: 0;
        li{
            cursor: pointer;
            background: rgba(250, 252, 252, 0.253);
            margin-bottom: 2px;
            color: #fff;
            font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
            padding: 9px 2px;
            border-radius: 15px;
            font-size: 12px;
            -webkit-transition: background .3s;
            transition: background .3s;
            span{
                border-radius: 40px;
                padding:2px 10px;
                margin-right: 8px;
                text-align: center;
                background-color: rgb(190, 204, 221);
            }
        }
        li:hover{
            background: rgba(160, 230, 240, 0.623);
            span{
                background-color: rgb(224, 165, 88);
            }
        }
    }
}
.bg-co{
    background-color: rgb(200, 232, 252);
}
.lf{
    text-align: left;
    padding-left: 28px;
}
.gf td{
    height: 30px !important;
    line-height: 30px;
    padding:2px;
}
.jititable{
    border-collapse:collapse;
    width:99%;
    font-size: 14px;
    text-align:center;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    border: 1px solid rgb(230, 229, 229);
    margin:0 auto;
    margin: 20px auto;
}

.jititable th{
    height: 40px;
    color:rgba(37,46,71,1) ;
    font-size: 14px;
    background-color: rgb(173, 217, 245);
}

.jititable td{
    height: 40px;
}
td{
    text-align: center;
    font-size: 12px;
}
.jititables{
    font-size: 12px;
    // border-collapse:collapse;
    width:100%;
    margin: 0 auto;
    border: none;
    text-align:center;
    td{
        height: 30px;
        border-bottom: 1px solid rgb(239, 240, 240);
      }
    .dd{
        padding: 0;
        height: 40px;
        border-bottom: none;
    }
    .dsd{
        background: rgb(218, 235, 248);
    }
  }
  
.jititables1{
    font-size: 8px;
    width:100%;
    margin: 0 auto;
    border: none;
    text-align:center;
    td{
        height: 40px;
      }
  }


// 整个大盒子
.detail-card{
    height:100%;
}

// 顶部
.tab-box1{
    width: 100%;
    img{
        width: 100%;
        vertical-align:top;
    }
}
// 报告结论
.box2{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_03.png');
    height: 100%;
    // margin-top:-4px;

    // 报告结论
    .conlusion{
        margin:0 auto;
        text-align: center;
        padding: 30px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }
}

// 授信额度+仪表盘外部
.box3{
    background: #ffffff;
    margin-bottom: 90px;
    height: 100%;
    //内部
    .box3-ec{
        position: relative;
        width: 690px;
        height: 240px;
        margin: 0 auto;
        //右上角审核通过
        .box3-bd-rt{
            position: absolute;
            top: 0;
            right: -2px;
            z-index: 999;
            width: 72px;
            height: 26px;
            background:linear-gradient(225deg,rgba(0,116,208,1),rgba(0,154,249,1));
            box-shadow:0px 66px 125px 0px rgba(0,195,246,0.2), 0px -1px 0px 0px rgba(202,251,255,1);
            border-radius:0px 4px 0px 21px;
            line-height: 26px;
            text-align: center;
            font-size:12px;
            font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
            font-weight:normal;
            color:rgba(245,250,254,1);
            text-shadow:0px 1px 0px rgba(10,116,196,1);
           }
    }
    // 仪表盘
    .box3-charts{
        width: 300px;
        height: 190px;
        float: left;
        padding: 20px;
    }
    .box3-right{
        float: right;
        width: 280px;
        height: 160px;
        padding: 10% 20px;
        span{
            font-size:18px;
            font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
            font-weight:bold;
            color:rgba(37,46,71,1);
        }
        b{
            font-size:24px;
            font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
            font-weight:bolder;
            color:rgba(38,112,243,1);
            line-height:13px;
        }
        .ji{
            width:68px;
            height:14px;
            padding: 2px 10px;
            text-align: center;
            font-size:12px;
            font-family:'"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti';
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:14px;
            background:rgba(0,219,133,1);
            border-radius:0px 30px 30px 0px;
        }
    }
}

// 第四个外框
.box4{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box4-img{
        margin:0 auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }
    .box4-ec{
        width: 690px;
        height: 100%;
        margin: 20px auto;
        //第一个头标
        .tit-pp{
            width: 200px;
            height: 40px;
            position: absolute;
            top: 92px;
            // 居中
            left: calc(~"50% - 100px");
            text-align: center;
            line-height: 40px;
            font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
            font-weight:600;
            color:rgba(38,112,243,1);
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../../assets/detailfengxianpinggu/titoi.png);
        }
        
    }

}

//第五个外框
.box5{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_06.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box5-img{
        margin:0 auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }
    .box5-ec2{
        width: 690px;
        height: 100%;
        margin: 90px auto;
        //第一个头标
        .tit-pp2{
            width: 200px;
            height: 40px;
            position: absolute;
            top: 442px;
            // 居中
            left: calc(~"50% - 100px");
            text-align: center;
            line-height: 40px;
            font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
            font-weight:600;
            color:rgba(38,112,243,1);
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../assets/detailfengxianpinggu/titoi.png');
        }
    }
    .tit-pw{
        width: 690px;
        height: 260px;
        margin: 20px auto;
        .box5-io{
            width: 100%;
            padding:0 5px;
            font-family:'"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti';
            font-size: 16px;
            margin-bottom: 16px;
            height: 18px;
            line-height: 18px;
            color:rgba(37,46,71,1);
            font-weight: bolder;
            border-left: 2px solid blue;
        }
        .box5-lf{
            border-right: 2px solid rgb(233, 232, 232);
            height: 180px;
            float: left;
            width: 40%;
            padding: 20px 0 0 0;
        }
        .box5-rt{
            float: right;
            width: 58%;
            height: 180px;
            padding-left: 2px ;
        }
    }
}

//第六个外框
.box6{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_04-07.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box6-img{
        margin:0 auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }
    //1.3.4
    .box6-ec4{
        width: 690px;
        height: 100%;
        margin: 20px auto;
        padding: 20px;
    }

    .box6tt{
        width:148px;
        height:22px;
        font-size:14px;
        font-weight:bold;
        font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
        color:rgba(37,46,71,1);
        line-height:22px;
    }
}

//第七个外框
.box7{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-position-y: top;
    background-image: url('../../assets/detailfengxianpinggu/bg_08.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box7-img{
        margin:20px auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.1.1
    .box7-ec1{
        width: 690px;
        height: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .box7tt{
        width:148px;
        height:22px;
        font-size:14px;
        font-weight:bold;
        font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
        color:rgba(37,46,71,1);
        line-height:22px;
    }
    .b7-ok{
        position: relative;
        width: 100%;
        margin: 20px auto;
        background:rgba(245,247,255,1);
        .lt{
            position: absolute;
            top: 0;
            left: 0;
        }
        .lb{
            position: absolute;
            bottom: -5px;
            left: 0;
        }
        .rt{
            position: absolute;
            top: 0;
            right: 0;
        }
        .rb{
            position: absolute;
            bottom: -5px;
            right: 0;
        }
    .b7img{
        padding: 20px 20px 0 20px;
        display: flex;
        height: 240px;
        .gm{
            width: 50%;
            text-align: center;
            img{
                height: 95%;
                vertical-align:top;
            }
        }
        }
        ul{
            width: 100%;
            padding: 5px 20px 10px 20px;
            display: inline-flex;
            li{
                width: 50%;
                text-align: center;
                font-size: 12px;
                color:rgba(165,175,184,1);
            }
        }
    }
}

//第八个外框
.box8{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_09.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box8-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.1.1
    .box8-ec1{
        width: 690px;
        height: 100%;
        margin: 0 auto;
    }
}

//第九个外框
.box9{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box9-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.3.1
    .box9-ec1{
        width: 690px;
        height: 100%;
        margin: 0 auto;
    }

    .box9-ec2{
        width: 690px;
        height: 100%;
        margin: 60px auto;
    }

    .box9-ec3{
        width: 690px;
        height: 100%;
        margin: 60px auto;
    }
}

//第十个外框
.box10{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box10-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.4.1
    .box10-ec1{
        width: 690px;
        height: 100%;
        margin: 0 auto;
    }
    .box10-ec2{
        width: 690px;
        height: 100%;
        margin: 60px auto;
    }
}


//第十一个外框
.box11{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box11-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.4.1
    .box11-ec1{
        width: 690px;
        height: 740px;
        margin: 0 auto;
    }
}


//第十二个外框
.box12{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box12-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.4.1
    .box12-ec1{
        width: 690px;
        height: 100%;
        margin: 0 auto;
    }
}

//第十三个外框
.box13{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-color: #ffffff;
    background-image: url('../../assets/detailfengxianpinggu/bg_09.png');
    height: 100%;
    margin-bottom: 90px;
    // margin-top:-4px;
    .box13-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 690px;
            vertical-align:top;
        }
    }

    //2.4.1
    .box13-ec1{
        width: 690px;
        height: 100%;
        margin: 0 auto;
    }
}

//第十四个外框
.box14{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/footer.png');
    height: 240px;
    margin-top:-20px;
}