// 整个大盒子
.detail-card{
    height:12000px;
}

// 顶部
.tab-box1{
    width: 100%;
    img{
        width: 100%;
    }
}
// 报告结论
.box2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-image: url('../../assets/detailfengxianpinggu/bg_03.png');
    height: 100%;
    margin-top:-4px;

    // 报告结论
    .conlusion{
        margin:0 auto;
        text-align: center;
        padding: 30px 0;
        img{ 
            width: 640px;
        }
    }
}

// 授信额度+仪表盘外部
.box3{
    background: #ffffff;
    padding-bottom: 20px;
    //内部
    .box3-ec{
        position: relative;
        width: 640px;
        height: 240px;
        margin: 0 auto;
        //右上角审核通过
        .box3-bd-rt{
            position: absolute;
            top: 0;
            right: -2px;
            z-index: 999;
            width: 72px;
            height: 26px;
            background:linear-gradient(225deg,rgba(0,116,208,1),rgba(0,154,249,1));
            box-shadow:0px 66px 125px 0px rgba(0,195,246,0.2), 0px -1px 0px 0px rgba(202,251,255,1);
            border-radius:0px 4px 0px 21px;
            line-height: 26px;
            text-align: center;
            font-size:12px;
            font-family:Adobe Heiti Std;
            font-weight:normal;
            color:rgba(245,250,254,1);
            text-shadow:0px 1px 0px rgba(10,116,196,1);
           }
    }
    // 仪表盘
    .box3-charts{
        width: 300px;
        height: 190px;
        float: left;
        padding: 20px;
    }
    .box3-right{
        float: right;
        width: 280px;
        height: 160px;
        padding: 10% 20px;
        span{
            font-size:18px;
            font-family:PingFangSC;
            font-weight:bold;
            color:rgba(37,46,71,1);
        }
        b{
            font-size:24px;
            font-family:Adobe Heiti Std;
            font-weight:bolder;
            color:rgba(38,112,243,1);
            line-height:13px;
        }
        .ji{
            width:68px;
            height:14px;
            padding: 2px 10px;
            text-align: center;
            font-size:12px;
            font-family:'PingFangSC';
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:14px;
            background:rgba(0,219,133,1);
            border-radius:0px 30px 30px 0px;
        }
    }
}

// 第四个外框
.box4{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
    height: 420px;
    margin-top:-4px;
    .box4-img{
        margin:0 auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 640px;
        }
    }
    .box4-ec{
        width: 640px;
        height: 240px;
        margin: 0 auto;
        //第一个头标
        .tit-pp{
            width: 200px;
            height: 40px;
            position: absolute;
            top: 132px;
            // 居中
            left: calc(~"50% - 100px");
            text-align: center;
            line-height: 40px;
            font-family:PingFangSC;
            font-weight:600;
            color:rgba(38,112,243,1);
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../assets/detailfengxianpinggu/titoi.png');
        }
        
    }

}

//第五个外框
.box5{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_06.png');
    height: 1050px;
    margin-top:-4px;
    .box5-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 640px;
        }
    }
    .box5-ec2{
        width: 640px;
        height: 440px;
        margin: 60px auto;
        //第一个头标
        .tit-pp2{
            width: 200px;
            height: 40px;
            position: absolute;
            top: 452px;
            // 居中
            left: calc(~"50% - 100px");
            text-align: center;
            line-height: 40px;
            font-family:PingFangSC;
            font-weight:600;
            color:rgba(38,112,243,1);
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../assets/detailfengxianpinggu/titoi.png');
        }
    }
    .tit-pw{
        width: 640px;
        height: 260px;
        margin-bottom: 130px;
        margin: 0 auto;
        .box5-io{
            width: 100%;
            padding:0 5px;
            font-family:'Adobe Heiti Std';
            font-size: 16px;
            margin-bottom: 16px;
            height: 18px;
            line-height: 18px;
            color:rgba(37,46,71,1);
            font-weight: bolder;
            border-left: 2px solid blue;
        }
        .box5-lf{
            border-right: 2px solid rgb(233, 232, 232);
            height: 180px;
            float: left;
            width: 40%;
            padding: 20px 0 0 0;
        }
        .box5-rt{
            float: right;
            width: 58%;
            height: 180px;
            padding-left: 2px ;
        }
    }
}

//第六个外框
.box6{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_04-07.png');
    height: 2150px;
    margin-top:-4px;
    .box6-img{
        margin:0 auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 640px;
        }
    }

    //1.3.1
    .box6-ec1{
        width: 640px;
        height: 440px;
        margin: 0 auto;
        padding: 20px;
    }

    //1.3.2
    .box6-ec2{
        width: 640px;
        height: 440px;
        margin: 60px auto;
        padding: 20px;
    }

    //1.3.3
    .box6-ec3{
        width: 640px;
        height: 440px;
        margin: 60px auto;
        padding: 20px;
    }

    //1.3.4
    .box6-ec4{
        width: 640px;
        height: 440px;
        margin: 60px auto;
        padding: 20px;
    }

    .box6tt{
        width:148px;
        height:22px;
        font-size:14px;
        font-weight:bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:rgba(37,46,71,1);
        line-height:22px;
    }
}

//第七个外框
.box7{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-image: url('../../assets/detailfengxianpinggu/bg_08.png');
    height: 470px;
    margin-top:-4px;
    .box7-img{
        margin:0 auto;
        text-align: center;
        padding: 20px 0;
        img{ 
            width: 640px;
        }
    }

    //2.1.1
    .box7-ec1{
        width: 640px;
        height: 340px;
        margin: 0 auto;
        padding: 20px;
    }

    .box7tt{
        width:148px;
        height:22px;
        font-size:14px;
        font-weight:bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:rgba(37,46,71,1);
        line-height:22px;
    }
}

//第八个外框
.box8{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-image: url('../../assets/detailfengxianpinggu/bg_09.png');
    height: 660px;
    margin-top:-4px;
    .box8-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 640px;
        }
    }

    //2.1.1
    .box8-ec1{
        width: 640px;
        height: 340px;
        margin: 0 auto;
    }
}

//第九个外框
.box9{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
    height: 2180px;
    margin-top:-4px;
    .box9-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 640px;
        }
    }

    //2.3.1
    .box9-ec1{
        width: 640px;
        height: 340px;
        margin: 0 auto;
    }

    .box9-ec2{
        width: 640px;
        height: 340px;
        margin: 60px auto;
    }

    .box9-ec3{
        width: 640px;
        height: 340px;
        margin: 60px auto;
    }
    // 2.3.2
    .box9-ec4{
        width: 640px;
        height: 340px;
        margin: 60px auto;
    }
    // 2.3.3
    .box9-ec5{
        width: 640px;
        height: 340px;
        margin: 60px auto;
    }
}

//第十个外框
.box10{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
    height: 1100px;
    margin-top:-4px;
    .box10-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 640px;
        }
    }

    //2.4.1
    .box10-ec1{
        width: 640px;
        height: 740px;
        margin: 0 auto;
    }
}


//第十一个外框
.box11{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
    height: 1000px;
    margin-top:-4px;
    .box11-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 640px;
        }
    }

    //2.4.1
    .box11-ec1{
        width: 640px;
        height: 740px;
        margin: 0 auto;
    }
}


//第十二个外框
.box12{
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: #ffffff;;
    background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
    height: 1600px;
    margin-top:-4px;
    .box12-img{
        margin:0 auto;
        text-align: center;
        padding: 50px 0;
        img{ 
            width: 640px;
        }
    }

    //2.4.1
    .box12-ec1{
        width: 640px;
        height: 740px;
        margin: 0 auto;
    }
}