.el-tree {
  color: #5f978b;
  background: #fffefe;
  margin-bottom: 20px;
  font-family: '苹方';
  border: 1px solid rgba(184, 184, 184, 0.315);
  padding: 20px 15px 20px 0;
  width: 165px;
}
.sf {
  font-size: 12px;
  width: 232px;
  padding: 10px;
  text-align: left;
  background: rgba(243, 243, 253, 0.623);
}
.sf ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.sf ul li {
  cursor: pointer;
  background: rgba(221, 250, 250, 0.253);
  margin-bottom: 2px;
  color: #3a3636;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  padding: 9px 2px;
  font-size: 12px;
  border-bottom: 1px solid rgba(109, 108, 108, 0.514);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.sf ul li span {
  padding: 2px 10px;
  margin-right: 8px;
  text-align: center;
}
.sf ul li:hover {
  background: rgba(220, 247, 252, 0.623);
}
.bg-co {
  background-color: #eaf7fe;
}
.bg-do {
  background-color: #f1f4ff;
}
.bg-hu {
  background-color: #f8f8f9;
}
.lf {
  text-align: left;
  padding-left: 28px;
}
.gf td {
  height: 46px !important;
  line-height: 46px;
  padding: 2px;
}
.jititable {
  border-collapse: collapse;
  width: 99%;
  font-size: 14px;
  text-align: center;
  border: 1px solid #dde2e6;
  margin: 30px auto;
}
.jititable th {
  height: 49px;
  color: #252e47;
  font-size: 16px;
  font-family: SourceHanSansCN-Normal;
  background-color: #f1f4ff;
}
.jititable td {
  height: 49px;
  font-family: PingFangSC-Regular, sans-serif !important;
}
.jititable11 {
  border-collapse: collapse;
  width: 99%;
  font-size: 14px;
  text-align: center;
  font-family: SourceHanSansCN-Normal;
  border: 1px solid #dde2e6;
  margin: 30px auto;
}
.jititable11 th {
  height: 49px;
  color: #252e47;
  font-size: 16px;
  background-color: #f1f4ff;
}
.jititable11 td {
  height: 49px;
  font-family: PingFangSC-Regular, sans-serif !important;
}
td {
  text-align: center;
  font-size: 14px;
  font-family: PingFangSC-Regular, sans-serif !important;
}
.jititables {
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-align: center;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
.jititables td {
  height: 49px;
  border-bottom: 1px solid #dde2e6;
  font-family: PingFangSC-Regular, sans-serif !important;
}
.jititables .dd {
  padding: 0;
  height: 40px;
  border-bottom: none;
}
.jititables .dsd {
  background-color: #f8f8f9;
}
.jititables1 {
  font-size: 8px;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-align: center;
}
.jititables1 td {
  height: 28px;
}
.detail-card {
  height: 100%;
  font-family: PingFangSC-Regular, sans-serif !important;
}
.tab-box1 {
  width: 100%;
}
.tab-box1 img {
  width: 100%;
  vertical-align: top;
}
.box2 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../../assets/detailfengxianpinggu/bg_03.png');
  height: 100%;
}
.box2 .conlusion {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
.box2 .conlusion img {
  width: 77%;
  vertical-align: top;
}
.box3 {
  background: #ffffff;
  margin-bottom: 80px;
  height: 100%;
}
.box3 .box3-ec {
  position: relative;
  width: 77%;
  margin: 0 auto;
}
.box3 .box3-ec .box3-bd-rt {
  position: absolute;
  top: 0;
  right: -4px;
  z-index: 999;
  width: 141px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #f5fafe;
  box-shadow: 0px 1px 0px 0px #0a74c4;
  background-image: linear-gradient(225deg, #0074d0 0%, #0087e5 62%, #009af9 100%), linear-gradient(#4257c9, #4257c9);
  background-blend-mode: normal, 
                normal;
  box-shadow: 0px 132px 250px 0px rgba(0, 195, 246, 0.2), inset 0px -1px 0px 0px #cafbfe;
  border-radius: 0px 8px 0px 42px;
}
.box3 .b3-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.box3 .box3-charts {
  position: relative;
  flex: 1;
  margin: 0 0 0 90px;
}
.box3 .box3-charts .vau {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 70%;
  left: calc(50% - 25px);
  z-index: 9999;
  font-weight: bolder;
  color: #1e65e9;
  text-align: center;
  border-radius: 50%;
  font-size: 1.84rem;
}
.box3 .box3-charts .core {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  z-index: 9999;
  font-weight: bolder;
  color: #9398a1;
  text-align: center;
  border-radius: 50%;
  font-size: 1.84rem;
}
.box3 .box3-right {
  flex: 1;
  margin: auto 70px auto 10px;
  padding: 10px 10px 0 0 ;
}
.box3 .box3-right span {
  font-size: 1.4rem;
  font-family: PingFangSC-Regular, sans-serif !important;
  font-weight: bold;
  color: #252e47;
}
.box3 .box3-right b {
  font-family: AdobeHeitiStd-Regular;
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 0.48rem;
  letter-spacing: 0.06rem;
  color: #2670f3;
}
.box3 .box3-right .ji {
  width: 1.64rem;
  height: 32px;
  padding: 4px 10px;
  text-align: center;
  font-size: 14px;
  font-family: '"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti';
  font-weight: 400;
  color: #ffffff;
  line-height: 32px;
  background: #00db85;
  border-radius: 0px 30px 30px 0px;
}
.box3 .box3-right .jif {
  width: 1.64rem;
  height: 32px;
  padding: 4px 10px;
  text-align: center;
  font-size: 14px;
  font-family: '"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti';
  font-weight: 400;
  color: #ffffff;
  line-height: 32px;
  background: #db2100;
  border-radius: 0px 30px 30px 0px;
}
.box4 {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
  height: 100%;
  min-height: 400px;
  margin-bottom: 80px;
}
.box4 .box4-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box4 .box4-img img {
  width: 77%;
  vertical-align: top;
}
.box4 .kl {
  position: relative;
}
.box4 .kl .box4-ec {
  width: 77%;
  height: 100%;
  margin: 40px auto;
}
.box4 .kl .box4-ec .tit-pp {
  font-size: 27px;
  font-stretch: normal;
  line-height: 61px;
  letter-spacing: 0px;
  color: #2670f3;
  width: 328px;
  height: 71px;
  position: absolute;
  top: -40px;
  z-index: 99999 !important;
  left: calc(50% - 164px);
  text-align: center;
  font-family: PingFangSC-Regular, sans-serif !important;
  font-weight: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/detailfengxianpinggu/titoi.png);
}
.box5 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_06.png');
  height: 100%;
  margin-bottom: 80px;
}
.box5 .box5-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box5 .box5-img img {
  width: 77%;
  vertical-align: top;
}
.box5 .lps {
  position: relative;
}
.box5 .lps .box5-ec2 {
  width: 77%;
  height: 100%;
  margin: 80px auto;
}
.box5 .lps .box5-ec2 .tit-pp2 {
  font-size: 27px;
  font-stretch: normal;
  line-height: 61px;
  letter-spacing: 0px;
  width: 328px;
  height: 71px;
  position: absolute;
  top: -40px;
  left: calc(50% - 164px);
  text-align: center;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  font-weight: 600;
  color: #2670f3;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/titoi.png');
}
.box5 .tit-pw {
  width: 77%;
  height: 300px;
  margin: 40px auto;
}
.box5 .tit-pw .box5-io {
  width: 100%;
  padding: 0 5px;
  font-family: '"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti';
  font-size: 24px;
  margin-bottom: 16px;
  height: 23px;
  line-height: 23px;
  color: #252e47;
  letter-spacing: 2px;
  font-weight: bolder;
  border-left: 4px solid #2670f3;
}
.box5 .tit-pw .bg5-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.box5 .tit-pw .box5-lf {
  position: relative;
  flex: 0.6;
  margin: 0 40px;
}
.box5 .tit-pw .box5-lf .vau {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 82%;
  left: calc(50% - 25px);
  z-index: 9999;
  font-weight: bolder;
  color: #1e65e9;
  text-align: center;
  font-size: 1.2rem;
}
.box5 .tit-pw .box5-lf .core {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 56%;
  left: calc(50% - 25px);
  z-index: 9999;
  font-weight: bolder;
  color: #9398a1;
  text-align: center;
  font-size: 1.2rem;
}
.box5 .tit-pw .box5-rt {
  flex: 1;
  height: 100%;
}
.box6 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  background-image: url('../../assets/detailfengxianpinggu/bg_04-07.png');
  height: 100%;
  margin-bottom: 80px;
}
.box6 .box6-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box6 .box6-img img {
  width: 77%;
  vertical-align: top;
}
.box6 .box6-ec4 {
  width: 77%;
  height: 100%;
  margin: 40px auto;
  padding: 20px;
}
.box6tt {
  width: 266px;
  height: 26px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 2px;
  color: #252e47;
  padding-left: 6px;
  font-family: PingFangSC-Regular, sans-serif !important;
}
.box6tt span {
  padding-left: 6px;
  font-size: 20px;
  color: #252e47;
}
.box7 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-position-y: top;
  background-image: url('../../assets/detailfengxianpinggu/bg_08.png');
  height: 100%;
  margin-bottom: 80px;
}
.box7 .box7-img {
  margin: 20px auto;
  text-align: center;
  padding: 20px 0;
}
.box7 .box7-img img {
  width: 77%;
  vertical-align: auto;
}
.box7 .box7-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  align-content: center;
}
.box7 .box7tt {
  width: 148px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  color: #252e47;
  line-height: 22px;
}
.box7 .b7-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.box7 .b7-chart {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 0.5;
  margin: 0 6%;
  height: 360px;
}
.box7 .b7-ok {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 0.5;
  height: 278px;
  margin: 34px 6%;
  background: #f5f7ff;
}
.box7 .b7-ok .lt {
  position: absolute;
  top: 0;
  left: 0;
}
.box7 .b7-ok .lb {
  position: absolute;
  bottom: -5px;
  left: 0;
}
.box7 .b7-ok .rt {
  position: absolute;
  top: 0;
  right: 0;
}
.box7 .b7-ok .rb {
  position: absolute;
  bottom: -5px;
  right: 0;
}
.box7 .b7-ok .b7img {
  padding: 20px 20px 0 20px;
  display: flex;
  height: 200px;
}
.box7 .b7-ok .b7img .gm {
  width: 50%;
  text-align: center;
  position: relative;
}
.box7 .b7-ok .b7img .gm img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  bottom: 0;
  object-fit: fill;
}
.box7 .b7-ok ul {
  width: 100%;
  padding: 25px 20px 10px 20px;
  display: inline-flex;
}
.box7 .b7-ok ul li {
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #a5afb8;
}
.box8 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_08.png');
  height: 100%;
  margin-bottom: 80px;
}
.box8 .box8-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box8 .box8-img img {
  width: 77%;
  vertical-align: top;
}
.box8 .box8-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
}
.box9 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
  height: 100%;
  min-height: 1400px;
  margin-bottom: 80px;
}
.box9 .box9-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box9 .box9-img img {
  width: 77%;
  vertical-align: top;
}
.box9 .box9-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
}
.box9 .box9-ec2 {
  width: 77%;
  height: 100%;
  margin: 80px auto;
}
.box9 .box9-ec3 {
  width: 77%;
  height: 100%;
  margin: 80px auto;
}
.box10 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
  height: 100%;
  min-height: 80%;
  margin-bottom: 80px;
}
.box10 .box10-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box10 .box10-img img {
  width: 77%;
  vertical-align: top;
}
.box10 .box10-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
}
.box10 .box10-ec2 {
  width: 77%;
  height: 100%;
  margin: 80px auto;
}
.box11 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
  height: 100%;
  min-height: 500px;
  margin-bottom: 80px;
}
.box11 .box11-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box11 .box11-img img {
  width: 77%;
  vertical-align: top;
}
.box11 .box11-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
}
.box12 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
  height: 100%;
  min-height: 400px;
  margin-bottom: 80px;
}
.box12 .box12-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box12 .box12-img img {
  width: 77%;
  vertical-align: top;
}
.box12 .box12-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
}
.box13 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_09.png');
  height: 100%;
  margin-bottom: 80px;
}
.box13 .box13-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box13 .box13-img img {
  width: 77%;
  vertical-align: top;
}
.box13 .box13-ec1 {
  width: 77%;
  height: 100%;
  margin: 0 auto;
}
.box14 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/footer.png');
  height: 240px;
  margin-top: -20px;
}
