.bg-co {
  background-color: #c8e8fc;
}
.lf {
  text-align: left;
  padding-left: 28px;
}
.gf td {
  height: 30px !important;
  line-height: 30px;
  padding: 2px;
}
.jititable {
  border-collapse: collapse;
  width: 99%;
  font-size: 14px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #e6e5e5;
  margin: 0 auto;
  margin-top: 20px;
}
.jititable th {
  height: 40px;
  color: #252e47;
  font-size: 14px;
  background-color: #add9f5;
}
.jititable td {
  height: 40px;
}
td {
  text-align: center;
  font-size: 12px;
}
.jititables {
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-align: center;
}
.jititables td {
  height: 30px;
  border-bottom: 1px solid #eff0f0;
}
.jititables .dd {
  padding: 0;
  height: 40px;
  border-bottom: none;
}
.jititables .dsd {
  background: #daebf8;
}
.detail-card {
  height: 100%;
}
.tab-box1 {
  width: 100%;
}
.tab-box1 img {
  width: 100%;
  vertical-align: top;
}
.box2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_03.png');
  height: 100%;
}
.box2 .conlusion {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
.box2 .conlusion img {
  width: 690px;
  vertical-align: top;
}
.box3 {
  background: #ffffff;
  margin-bottom: 90px;
  height: 100%;
}
.box3 .box3-ec {
  position: relative;
  width: 690px;
  height: 240px;
  margin: 0 auto;
}
.box3 .box3-ec .box3-bd-rt {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 999;
  width: 72px;
  height: 26px;
  background: linear-gradient(225deg, #0074d0, #009af9);
  box-shadow: 0px 66px 125px 0px rgba(0, 195, 246, 0.2), 0px -1px 0px 0px #cafbff;
  border-radius: 0px 4px 0px 21px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #f5fafe;
  text-shadow: 0px 1px 0px #0a74c4;
}
.box3 .box3-charts {
  width: 300px;
  height: 190px;
  float: left;
  padding: 20px;
}
.box3 .box3-right {
  float: right;
  width: 280px;
  height: 160px;
  padding: 10% 20px;
}
.box3 .box3-right span {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: bold;
  color: #252e47;
}
.box3 .box3-right b {
  font-size: 24px;
  font-family: Adobe Heiti Std;
  font-weight: bolder;
  color: #2670f3;
  line-height: 13px;
}
.box3 .box3-right .ji {
  width: 68px;
  height: 14px;
  padding: 2px 10px;
  text-align: center;
  font-size: 12px;
  font-family: 'PingFangSC';
  font-weight: 400;
  color: #ffffff;
  line-height: 14px;
  background: #00db85;
  border-radius: 0px 30px 30px 0px;
}
.box4 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
  height: 100%;
  margin-bottom: 20px;
}
.box4 .box4-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box4 .box4-img img {
  width: 690px;
  vertical-align: top;
}
.box4 .box4-ec {
  width: 690px;
  height: 100%;
  margin: 20px auto;
}
.box4 .box4-ec .tit-pp {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 92px;
  left: calc(50% - 100px);
  text-align: center;
  line-height: 40px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #2670f3;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/detailfengxianpinggu/titoi.png);
}
.box5 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_06.png');
  height: 100%;
  margin-bottom: 20px;
}
.box5 .box5-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box5 .box5-img img {
  width: 690px;
  vertical-align: top;
}
.box5 .box5-ec2 {
  width: 690px;
  height: 100%;
  margin: 40px auto;
}
.box5 .box5-ec2 .tit-pp2 {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 372px;
  left: calc(50% - 100px);
  text-align: center;
  line-height: 40px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #2670f3;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/titoi.png');
}
.box5 .tit-pw {
  width: 690px;
  height: 260px;
  margin-bottom: 130px;
  margin: 0 auto;
}
.box5 .tit-pw .box5-io {
  width: 100%;
  padding: 0 5px;
  font-family: 'Adobe Heiti Std';
  font-size: 16px;
  margin-bottom: 16px;
  height: 18px;
  line-height: 18px;
  color: #252e47;
  font-weight: bolder;
  border-left: 2px solid blue;
}
.box5 .tit-pw .box5-lf {
  border-right: 2px solid #e9e8e8;
  height: 180px;
  float: left;
  width: 40%;
  padding: 20px 0 0 0;
}
.box5 .tit-pw .box5-rt {
  float: right;
  width: 58%;
  height: 180px;
  padding-left: 2px ;
}
.box6 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_04-07.png');
  height: 100%;
  margin-bottom: 20px;
}
.box6 .box6-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box6 .box6-img img {
  width: 690px;
  vertical-align: top;
}
.box6 .box6-ec1 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.box6 .box6-ec2 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
  padding: 20px;
}
.box6 .box6-ec3 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
  padding: 20px;
}
.box6 .box6-ec4 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
  padding: 20px;
}
.box6 .box6tt {
  width: 148px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #252e47;
  line-height: 22px;
}
.box7 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-position-y: top;
  background-image: url('../../assets/detailfengxianpinggu/bg_08.png');
  height: 100%;
  margin-bottom: 20px;
}
.box7 .box7-img {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
.box7 .box7-img img {
  width: 690px;
  vertical-align: top;
}
.box7 .box7-ec1 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.box7 .box7tt {
  width: 148px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #252e47;
  line-height: 22px;
}
.box7 .b7-ok {
  width: 100%;
  background: #f5f7ff;
}
.box7 .b7-ok .b7img {
  padding: 20px 20px 0 20px;
  display: flex;
  height: 240px;
}
.box7 .b7-ok .b7img .gm {
  width: 50%;
  text-align: center;
}
.box7 .b7-ok .b7img .gm img {
  height: 95%;
  vertical-align: top;
}
.box7 .b7-ok ul {
  width: 100%;
  padding: 0 0 10px 0;
  display: inline-flex;
}
.box7 .b7-ok ul li {
  width: 50%;
  text-align: center;
  font-size: 12px;
  color: #a5afb8;
}
.box8 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/detailfengxianpinggu/bg_09.png');
  height: 100%;
  margin-bottom: 20px;
}
.box8 .box8-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box8 .box8-img img {
  width: 690px;
  vertical-align: top;
}
.box8 .box8-ec1 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
}
.box9 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
  height: 100%;
  margin-bottom: 20px;
}
.box9 .box9-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box9 .box9-img img {
  width: 690px;
  vertical-align: top;
}
.box9 .box9-ec1 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
}
.box9 .box9-ec2 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
}
.box9 .box9-ec3 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
}
.box9 .box9-ec4 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
}
.box9 .box9-ec5 {
  width: 690px;
  height: 100%;
  margin: 60px auto;
}
.box10 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_10.png');
  height: 100%;
  margin-bottom: 20px;
}
.box10 .box10-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box10 .box10-img img {
  width: 690px;
  vertical-align: top;
}
.box10 .box10-ec1 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
}
.box10 .box10-ec2 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
}
.box11 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
  height: 100%;
  margin-bottom: 20px;
}
.box11 .box11-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box11 .box11-img img {
  width: 690px;
  vertical-align: top;
}
.box11 .box11-ec1 {
  width: 690px;
  height: 740px;
  margin: 0 auto;
}
.box12 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_05.png');
  height: 100%;
  margin-bottom: 20px;
}
.box12 .box12-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box12 .box12-img img {
  width: 690px;
  vertical-align: top;
}
.box12 .box12-ec1 {
  width: 690px;
  height: 440px;
  margin: 0 auto;
}
.box13 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/bg_09.png');
  height: 100%;
  margin-bottom: 20px;
}
.box13 .box13-img {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.box13 .box13-img img {
  width: 690px;
  vertical-align: top;
}
.box13 .box13-ec1 {
  width: 690px;
  height: 100%;
  margin: 0 auto;
}
.box14 {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #ffffff;
  background-image: url('../../assets/detailfengxianpinggu/footer.png');
  height: 340px;
  margin-top: -20px;
}
